body {
}
h1 {
  text-align: center;
  font-size: 5vw;
  color: salmon;
  background-color: black;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: salmon;
}

h3{
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  margin-left: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
  padding-left: 30px;
}

.sub-list{
  list-style-type: circle;
}

td {
  padding: 10px;
}

table, td {
  border: 1px solid black;
}

th {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
}

#top-image{
width: 70%;
}

#top-image-container{
  display: flex;
  justify-content: center;

}

.bottom-image-container{
  display: flex;
  width: 100%;
}

div.image-cotainer > img {
  width: 100%;
}

input{
  margin-bottom: 10px;
}



